@import '../../sass/variables';

.connectionsColumn {
	max-width: 18em;
	height: 100%;
	background-color: rgba($appBlueR, $appBlueG, $appBlueB, 0.1);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 15px;
}

.tabbedViewContainer {
	height: 100%;
	padding-top: 15px;
	padding-left: 15px;
	overflow-y: hidden;
}

tabbed-view {
	height: 100%;
	display: block;
}