$keyNameSectionWidth: 37%;
$valueSectionWidth: 100% - $keyNameSectionWidth;

$hundredPercent: 100%;
$keyAttrsMarginLeft: 0.75em;
$keyTypeLabelWidth: 2em;
$keyExprWidth: 2em;
$keyAttrsWidth: calc(#{$keyTypeLabelWidth} + #{$keyExprWidth} + 1px);
$keyNameWidth: calc(#{$hundredPercent} - (#{$keyAttrsWidth} + #{$keyAttrsMarginLeft}));

$singleIconButtonHeight: 1.5em;
$singleIconButtonFontSize: 1.1em;
$singleIconButtonRatioOfHeightToFontSize: $singleIconButtonHeight / $singleIconButtonFontSize;

$appBlueR: 44;
$appBlueG: 178;
$appBlueB: 255;
$appBlue: rgb(44, 178, 255);

$appNavyR: 20;
$appNavyG: 81;
$appNavyB: 116;
$appNavy: rgb(20, 81, 116);
$appNavyOpaque: rgba($appNavyR, $appNavyG, $appNavyB, 1);

$scrollbarWidth: 12px;
$scrollbarThinWidth: 6px;

// Variables that are needed to determine the height of the panel containing the redis keys
$tabsContainerHeight: 2.5em;
$outerContainerMarginBottom: 8px;
$tabsContainerScrollbarHeight: $scrollbarThinWidth;
$scanToolbarHeight: 2em;
$keysContainerHeight: calc(100% - (#{$tabsContainerHeight} + #{$outerContainerMarginBottom} + #{$tabsContainerScrollbarHeight} + #{$scanToolbarHeight}));