$keyNameSectionWidth: 50%;
$valueSectionWidth: 100% - $keyNameSectionWidth;

$hundredPercent: 100%;
$keyTypeWidth: 6em;
$keyNameWidth: calc(#{$hundredPercent} - #{$keyTypeWidth});

$appBlueR: 44;
$appBlueG: 178;
$appBlueB: 255;