@import './variables';
@import './mixins';
@import './grid-view.scss';

@font-face {
	font-family: Lato;
	src: url('/assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
	font-family: Roboto;
	src: url('/assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('/assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf');
}

* {
	font-family: Lato;
}

%col {
	padding: 15px;
}

.pointerCursor {
	cursor: pointer;
}

.hidden {
	display: none;
}

.clearfix::after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
}

.liteInput {
	font-size: 0.9em;
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: transparent;
}

.modalTopBarTitleContainer {
	display: inline-block;
}
.modalTopBarActionsContainer {
	float: right;
	vertical-align: middle;
}
.singleIconButton {
	font-size: 1.1em;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 4px;
	padding-right: 4px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 4px;
	margin-right: 4px;
}

button {
	border: none;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 0.9em;
	font-family: Roboto;
}

.textButton {
	padding-top: 6px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
}
.highlightButton:hover {
	background-color: rgb($appBlueR, $appBlueG, $appBlueB);
	color: white;
}
.warnButton:hover {
	background-color: red;
	color: white;
}

.errorMessageTextDisplay {
	color: red;
	background-color: rgb(255, 231, 231);
}

.fadedOption {
	opacity: 0.33;
}

.patternInput {
}

.keyLine {
	padding-top: 0.15em;
	padding-bottom: 0.15em;
}
.keyNameSection {
	display: inline-block;
	width: $keyNameSectionWidth;
}
.valueSection {
	display: inline-block;
	width: $valueSectionWidth;
}

.keyType {
	display: inline-block;
	opacity: 0.67;
	font-size: 0.8em;
	width: $keyTypeWidth;
}
.keyName {
	display: inline-block;
	width: $keyNameWidth;
}