<div class="connectionsPanel">
	<div class="titleContainer">
		<span class="title unselectable">Connections</span>
		<span>
			<button class="addConnButton singleIconButton plusButton highlightButton pointerCursor" (click)="openConnPropertiesPanelForAdding()">
				<i class="fas fa-plus"></i>
			</button>
		</span>
		<span *ngIf="propsModalIsOpen">
			<centered-modal [close]="closeConnPropsModal" [title]="'Add Connection'">
				<conn-props-panel [close]="closeConnPropsModal" (connEmitter)="saveConn($event)"></conn-props-panel>
			</centered-modal>
		</span>
	</div>
	<div *ngIf="connections">
		<div class="pointerCursor unselectable connectionRow" *ngFor="let connection of connections; let i = index" (click)="onConnDblClick(connection)">
			<div class="connTextOuter">
				<div class="connVAlignOuter">
					<div class="connVAlignInner">
						{{connection.getDisplayName()}}
					</div>
				</div>
			</div>
			<div class="connActionsButtonContainer">
				<div class="connVAlignOuter">
					<div class="connVAlignInner">
						<span>
							<button class="connActionsButton singleIconButton cogButton highlightButton pointerCursor" (click)="setConnAsOpenForEditing(connection)">
								<i class="fas fa-cog"></i>
							</button>
							<button class="connActionsButton singleIconButton timesButton warnButton pointerCursor" (click)="openRemoveConnModal(connection)">
								<i class="fas fa-times"></i>
							</button>
						</span>
					</div>
				</div>
			</div>
			<span *ngIf="connOpenedForEditing === connection">
				<centered-modal [close]="closeConnPropsModal" [title]="'Update Connection'">
					<conn-props-panel [close]="closeConnPropsModal"
						[name]="connection.name"
						[host]="connection.host"
						[port]="connection.port"
						[usesPassword]="connUsesPassword(connection)"
						[password]="connection.password"
						[db]="connection.db"
						(connEmitter)="updateConn($event)"></conn-props-panel>
				</centered-modal>
			</span>
			<span *ngIf="connForWhichRemovalPending === connection">
				<centered-modal [close]="closeRemoveConnModal" [title]="'Remove Connection'">
					<div class="unselectable">Are you sure you want to remove {{connection.getDisplayName()}}?</div>
					<div class="clearfix">
						<div class="buttonsContainer">
							<button class="buttonSpacing textButton warnButton pointerCursor" (click)="removeConn(i)">Yes, remove</button>
							<button class="buttonSpacing textButton highlightButton pointerCursor" (click)="closeRemoveConnModal()">Cancel</button>
						</div>
					</div>
				</centered-modal>
			</span>
		</div>
	</div>
</div>