@import '../../sass/variables';

.titleContainer {
	margin-left: 10px;
	margin-bottom: 0.5em;
}

.title {
	font-size: 1.5em;
}

.addConnButton {
	margin-left: 0.5em;
}

.connectionRow {
	display: table;
	table-layout: fixed;
	height: 2.5em;
	padding-top: 0.15em;
	padding-bottom: 0.15em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	width: 100%;
}

.connectionRow:hover {
	//background-color: rgba($appBlueR, $appBlueB, $appBlueG, 0.1);
	background-color: rgba(0, 0, 0, 0.02);
}

.connTextOuter {
	display: inline-block;
	height: 100%;
	width: $connRemainingWidth;
}
.connVAlignOuter {
	display: table;
	table-layout: fixed;
	height: 100%;
	width: 100%;
}
.connVAlignInner {
	display: table-cell;
	vertical-align: middle;
}
.connEllipsis {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.connActionsButtonContainer {
	float: right;
	height: 100%;
	width: $connActionsButtonWidth;
}
.connActionsInnerContainer {
	position: relative;
}
.connActionsButton {
	visibility: hidden;
	opacity: 0.5;
}
.connectionRow:hover .connActionsButton {
	visibility: visible;
}
.connActionsButton:hover {
	opacity: 1;
}
.connActionsMenu {
	position: absolute;
	top: 120%;
	right: 0;
	z-index: 1;
	background: white;
	padding: 7px;
	border-radius: 5px;
}
.connActionButtonContainerMarginBottom {
	margin-bottom: 7px;
}


.buttonSpacing {
	margin-top: 16px;
	margin-left: 8px;
}
.buttonsContainer {
	float: right;
}