@import '../../sass/variables';

.outerContainer {
	white-space: nowrap;
	overflow-x: scroll;
	margin-bottom: 8px;
}

.tabsContainer {
	display: inline-block;
	width: 100%;
	height: 2.5em;
	margin-bottom: 8px;
}

.individualTabContainer {
	display: inline-block;
	vertical-align: top;
	white-space: normal;
	height: 100%;
}
.tab {
	float: left;
	margin-left: 4px;
	height: 100%;
	display: table;
}
.tabTitleContainer {
	display: table-cell;
	vertical-align: middle;
}
.tabTitle {
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
	font-size: 1.2em;
}
.tabSeparator {
	display: table-cell;
	border-left: 1px solid;
	font-size: 2em;
	margin-left: 5px;
	margin-right: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
	opacity: 0.15;
}
.unselectedTabContents {
	
}
.selectedTabContents {
	background-color: rgba($appBlueR,$appBlueG,$appBlueB,0.1);
	box-shadow: 0px 0px 6px 2px rgba($appBlueR,$appBlueG,$appBlueB,0.1);
}

