<div class="scanToolbar">
	<input class="liteInput patternInput" size="40" placeholder="Type a pattern to match against keys" [(ngModel)]="pattern" (keydown)="inputKeydown($event)">
	<button (click)="findKeys()">Find</button>
	<div class="pagesNavigator">
		<label (click)="navigateToFirstPage()" [ngClass]="{pointerCursor: leftArrowIsActive(), fadedOption: !leftArrowIsActive()}">
			<i class="fas fa-angle-double-left"></i>
		</label>
		<label (click)="navigateToPreviousPage()" [ngClass]="{pointerCursor: leftArrowIsActive(), fadedOption: !leftArrowIsActive()}">
			<i class="fas fa-angle-left"></i>
		</label>
		<input size="3" [(ngModel)]="pageInputNumber" (keydown)="pageSelectInputKeydown($event)">
		<label (click)="navigateToNextPage()" [ngClass]="{pointerCursor: rightArrowIsActive(), fadedOption: !rightArrowIsActive()}">
			<i class="fas fa-angle-right"></i>
		</label>
		<label (click)="navigateToLastPage()" [ngClass]="{pointerCursor: rightArrowIsActive(), fadedOption: !rightArrowIsActive()}">
			<i class="fas fa-angle-double-right"></i>
		</label>
		<span>
			{{keys.length}} keys
		</span>
	</div>
</div>
<div class="keysContainer">
	<div class="keyLine" *ngFor="let key of getKeysOnCurrentPage()">
		<div class="keyNameSection">
			<div class="keyType">
				<div class="vCenterTextContent">
					<label class="keyTypeText" [style.color]="getTypeTextColor(key)">
						{{key.getTypeForDisplay()}}
					</label>
				</div>
			</div>
			<div class="keyName" [class.ellipsisOverflow]="!key.isOpen" [class.wrap]="key.isOpen" [class.noWrap]="!key.isOpen">{{key.key}}</div>
		</div>
		<div class="valueSection">
			<div *ngIf="!key.isOpen">
				<div class="valueButtonContainer">
					<button (click)="openKey(key)">
						<i class="fas fa-angle-down"></i>
					</button>
				</div>
				<div class="valueText ellipsisOverflow noWrap">
					{{key.getCompactValueDisplay()}}
				</div>
			</div>
			<div *ngIf="key.isOpen">
				<div class="valueButtonContainer">
					<button (click)="closeKey(key)">
						<i class="fas fa-angle-up"></i>
					</button>
				</div>
				<div class="valueText wrap">
					<span *ngIf="keyTypeIsString(key)">{{key.val}}</span>
					<span *ngIf="key.type === keyTypeList || key.type === keyTypeSet">
						<div *ngFor="let str of key.val">{{str}}</div>
					</span>
					<span *ngIf="key.type === keyTypeZset">
						<table>
							<tr class="tableRowHighlight" *ngFor="let zsetVal of key.val">
								<td class="tableFirstCell">
									<span class="tableCellMargin">{{zsetVal.score}}</span>
								</td>
								<td>{{zsetVal.zval}}</td>
							</tr>
						</table>
					</span>
					<span *ngIf="key.type === keyTypeHash">
						<table>
							<tr class="tableRowHighlight" *ngFor="let hashVal of key.val">
								<td class="tableFirstCell">
									<span class="tableCellMargin">{{hashVal.hkey}}</span>
								</td>
								<td>{{hashVal.hval}}</td>
							</tr>
						</table>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>