<div class="generalTooltip" [style.bottom]="tooltipBottom" [style.left]="tooltipLeft" [style.visibility]="tooltipVisibility">{{tooltipText}}</div>
<span *ngIf="isAskingIfWantToDelete">
	<centered-modal [close]="closeDeleteModal" [title]="'Delete Keys'">
		<div *ngIf="!pattern || pattern === '*'" class="warningTextContainer">
			<p>This action will delete ALL keys (even those not loaded in {{appName}}).</p>
			<p>If you only want to delete keys based on a pattern, click 'Cancel' and define a pattern before deleting.</p>
			<p>Do you want to continue?</p>
		</div>
		<div *ngIf="!(!pattern || pattern === '*')" class="warningTextContainer">
			<p>This will delete all keys (even those not loaded in {{appName}}) matching the pattern:</p>
			<p>{{pattern}}</p>
			<p>Do you want to continue?</p>
		</div>
		<div>
			<div class="clearfix">
				<div class="buttonsContainer">
					<button class="buttonSpacing textButton warnButton pointerCursor" (click)="deleteKeys()">Yes, Delete</button>
					<button class="buttonSpacing textButton highlightButton pointerCursor" (click)="closeDeleteModal()">Cancel</button>
				</div>
			</div>
		</div>
	</centered-modal>
</span>
<div class="scanToolbar">
	<input class="liteInput patternInput" size="40" placeholder="Type a pattern to match against keys" [(ngModel)]="pattern" (keydown)="inputKeydown($event)">
	<button class="buttonSpacing textButton highlightButton pointerCursor unselectable findKeysButton" (click)="findKeys()">Find</button>
	<button class="buttonSpacing textButton warnButton unselectable pointerCursor" (click)="askIfWantToDelete()">Del</button>
	<span class="spinnerContainer">
		<div *ngIf="awaitingResponse" class="awaitingResponseSpinner"></div>
	</span>
	<div class="pagesNavigator">
		<label (click)="navigateToFirstPage()" class="pageNavMargin unselectable" [ngClass]="{pointerCursor: leftArrowIsActive(), fadedOption: !leftArrowIsActive()}">
			<i class="fas fa-angle-double-left"></i>
		</label>
		<label (click)="navigateToPreviousPage()" class="pageNavMargin unselectable" [ngClass]="{pointerCursor: leftArrowIsActive(), fadedOption: !leftArrowIsActive()}">
			<i class="fas fa-angle-left"></i>
		</label>
		<input size="3" type="number" class="pageNumberInput pageNavMargin" [(ngModel)]="pageInputNumber" (keydown)="pageSelectInputKeydown($event)">
		<label (click)="navigateToNextPage()" class="pageNavMargin unselectable" [ngClass]="{pointerCursor: rightArrowIsActive(), fadedOption: !rightArrowIsActive()}">
			<i class="fas fa-angle-right"></i>
		</label>
		<label (click)="navigateToLastPage()" class="pageNavMargin unselectable" [ngClass]="{pointerCursor: rightArrowIsActive(), fadedOption: !rightArrowIsActive()}">
			<i class="fas fa-angle-double-right"></i>
		</label>
		<span class="keyCount unselectable">
			{{keys.length}} keys
		</span>
	</div>
</div>
<div class="keysContainer">
	<div *ngIf="errorMessage">
		<span class="errorMessageTextDisplay">Error: {{errorMessage}}</span>
	</div>
	<div *ngIf="otherMessage">
		<span>{{otherMessage}}</span>
	</div>
	<div class="keyLine pointerCursor" *ngFor="let key of getKeysOnCurrentPage()" (mousedown)="onKeyMousedown(key)" (mouseup)="onKeyMouseup(key)">
		<div class="keyNameSection">
			<div class="keyAttrs">
				<div class="vCenterTextContent">
					<div class="keyAttr keyTypeTextContainer unselectable" [style.color]="getTypeTextColor(key)" (mouseenter)="mouseenterKeyType($event, key)" (mouseleave)="resetTooltip(key)">
						<span class="keyTypeText">{{key.getTypeForDisplay()}}</span>
					</div>
					<div class="keyAttr keyExprContainer unselectable" (mouseenter)="mouseenterExpr($event, key)" (mouseleave)="resetTooltip(key)">
						<span class="keyExpr" *ngIf="key.expAt > 0"><i class="far fa-clock"></i></span>
					</div>
				</div>
			</div>
			<div class="keyName" [class.ellipsisOverflow]="!key.isOpen" [class.wrap]="key.isOpen" [class.noWrap]="!key.isOpen">
				<span class="basicStringVal textCursor">{{key.key}}</span>
			</div>
		</div>
		<div class="valueSection">
			<div *ngIf="!key.isOpen">
				<!--<div class="valueButtonContainer">
					<button class="pointerCursor" (click)="openKey(key)">
						<i class="fas fa-angle-down"></i>
					</button>
				</div>-->
				<div class="valueText ellipsisOverflow noWrap">
					<span class="basicStringVal textCursor">{{key.getCompactValueDisplay()}}</span>
				</div>
			</div>
			<div *ngIf="key.isOpen">
				<!--<div class="valueButtonContainer">
					<button class="pointerCursor" (click)="closeKey(key)">
						<i class="fas fa-angle-up"></i>
					</button>
				</div>-->
				<div class="valueText wrap">
					<span class="basicStringVal textCursor" *ngIf="keyTypeIsString(key)">{{key.val}}</span>
					<span *ngIf="key.type === keyTypeList || key.type === keyTypeSet">
						<table class="redisContentTable">
							<tr class="hoverHighlight" *ngFor="let str of key.val">
								<td class="tableFirstCell">
									<span class="listItem textCursor">{{str}}</span>
								</td>
							</tr>
						</table>
					</span>
					<span *ngIf="key.type === keyTypeZset">
						<table class="redisContentTable">
							<tr class="hoverHighlight" *ngFor="let zsetVal of key.val">
								<td class="tableFirstCell">
									<span class="tableCellMargin textCursor">{{zsetVal.score}}</span>
								</td>
								<td class="tableLastCell textCursor">{{zsetVal.zval}}</td>
							</tr>
						</table>
					</span>
					<span *ngIf="key.type === keyTypeHash">
						<table class="redisContentTable">
							<tr class="hoverHighlight" *ngFor="let hashVal of key.val">
								<td class="tableFirstCell">
									<span class="tableCellMargin textCursor">{{hashVal.hkey}}</span>
								</td>
								<td class="tableLastCell textCursor">{{hashVal.hval}}</td>
							</tr>
						</table>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>