@import '../../sass/variables';
@import '../../sass/mixins';


.warningTextContainer {
	max-width: 30em;
	margin-left: 0.5em;
	margin-right: 1em;
}
.buttonsContainer {
	float: right;
}
.buttonSpacing {
	margin-top: 4px;
	margin-left: 8px;
}

.scanToolbar {
	height: $scanToolbarHeight;
}

.findKeysButton {
	margin-left: 0.5em;
}
.spinnerContainer {
	position: relative;
	width: 1.5em;
}
.awaitingResponseSpinner {
	display: inline-block;
}
.awaitingResponseSpinner:before {
	@include cssSpinner(0, 0.75em, 1em, 1em);
}

.pageNavMargin {
	margin-left: 0.2em;
}
.pagesNavigator {
	display: inline-block;
	float: right;
}
.pageNumberInput {
	width: 2em;
}
.pageNumberInput::-webkit-inner-spin-button,
.pageNumberInput::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.keyCount{
	margin-left: 0.5em;
	margin-right: 0.5em;
	opacity: 0.4;
}

.keysContainer {
	height: $keysContainerHeight;
	overflow-y: scroll;
}

.keyLine {
	padding-top: 0.15em;
	padding-bottom: 0.15em;
}
.keyLine:hover {
	background-color: rgba($appBlueR, $appBlueG, $appBlueB, 0.1);
}
.keyNameSection {
	display: inline-block;
	width: $keyNameSectionWidth;
	vertical-align: top;
}
.valueSection {
	display: inline-block;
	width: $valueSectionWidth;
}

.keyAttrs {
	display: inline-block;
	font-size: 0.8em;
	width: $keyAttrsWidth;
	margin-left: $keyAttrsMarginLeft;
	margin-top: 0.3em;
	vertical-align: top;
}
.keyAttr {
	display: inline-block;
	text-align: center;
}
.keyTypeTextContainer {
	width: $keyTypeLabelWidth;
}
.keyTypeText {
	opacity: 0.67;
	padding: 4px;
}
.keyExprContainer {
	width: $keyExprWidth;
	position: relative;
}
.keyExpr {
	position: relative;
	bottom: 1px;
	right: 1px;
	opacity: 0.67;
	padding: 4px;
}
.keyName {
	display: inline-block;
	width: $keyNameWidth;
	overflow: hidden;
}

.valueButtonContainer {
	width: 1.5em;
	float: left;
}
.valueText {
	width: auto;
	overflow: hidden;
}

.vCenterTextContent {
	display: table-cell;
	vertical-align: middle;
}
.ellipsisOverflow {
	text-overflow: ellipsis;
}
.noWrap {
	white-space: nowrap;
}
.wrap {
	word-break: break-all;
}

.basicStringVal {
	width: max-content;
}
.listItem {
	width: max-content;
}
.redisContentTable {
}
.tableFirstCell {
	vertical-align: top;
}
.tableLastCell {
	vertical-align: top;
}
.tableCellMargin {
	margin-right: 10px;
}
.hoverHighlight:hover {
	background-color: rgba(0, 0, 0, 0.03);
}


.generalTooltip {
	background: $appNavyOpaque;
	color: rgba(255, 255, 255, 1);
	position: fixed;
	opacity: 1;
	font-size: 0.8em;
	padding: 5px;
	border-radius: 3px;
	z-index: 1;
}