<div>
	<div>
		<label>Name: </label>
		<input class="liteInput marginLeft" [(ngModel)]="name" #firstInput>
	</div>
	<div class="marginTop">
		<label>Host: </label>
		<input class="liteInput marginLeft" [(ngModel)]="host">
	</div>
	<div class="marginTop">
		<label>Port: </label>
		<input class="liteInput marginLeft" [(ngModel)]="port">
	</div>
	<div class="marginTop">
		<input type="checkbox" [(ngModel)]="usesPassword">
		<label class="marginLeft">Has Password</label>
	</div>
	<div class="marginTop bigMarginBottom" [ngClass]="{'fadedOption': !usesPassword}">
		<label>Password: </label>
		<input class="liteInput marginLeft" [disabled]="!usesPassword" [(ngModel)]="password">
	</div>
	<div>
		<div class="clearfix">
			<div class="errorBox">
				<div *ngIf="errorMessage" class="errorMessageTextDisplay errorText">
					Error: {{errorMessage}}
				</div>
			</div>
			<div class="buttonsContainer">
				<button class="buttonSpacing textButton highlightButton pointerCursor">Test</button>
				<button class="buttonSpacing textButton highlightButton pointerCursor" (click)="saveConnection()">Save</button>
				<button class="buttonSpacing textButton warnButton pointerCursor" (click)="close()">Cancel</button>
			</div>
		</div>
	</div>
</div>