@import '../../sass/variables';
@import '../../sass/mixins';

.errorBox {
	width: 12em;
	display: inline-block;
	margin-top: 5px;
}
.messageText {
	vertical-align: middle;
}

.dbInput {
	width: 2.5em;
}
.marginLeft {
	margin-left: 4px;
}
.marginTop {
	margin-top: 4px;
}
.bigMarginBottom {
	margin-bottom: 12px;
}

.buttonsContainer {
	float: right;
}

.buttonSpacing {
	margin-top: 4px;
	margin-left: 8px;
}

.inactiveButton {
	opacity: 0.4;
}

.testContainer {
	position: relative;
	display: inline-block;
}
.passedTestIcon {
	color: $appBlue;
	position: absolute;
	top: 0.5em;
	left: 50%;
	transform: translate(calc(-50% + 0.25em), 0);
}

.awaitingTestResultsSpinner:before {
	@include cssSpinner(0.5em, 1.19em, 20px, 20px);
}